
<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>

	<header>
		<div>
		<div>
			<h2>Diploma in AI and ML</h2>
			
		</div>
		<h2>By Applied AI Course and University of Hyderabad (UoH)</h2>
		
	</div>
	</header>

	<div>

		<form action="/predict" method="POST">
		<p><h3>Project:77 Predicting the Assassin Email spam or not</h3></p>
	
		<textarea name="review_text" rows="10" cols="80" placeholder="Enter Your Email Message..." ></textarea>
		<br/>

		<input type="Submit" class="btn-info" value="Predict">
		
	</form>
		
	</div>
</body>
</html>